[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
motor = "*"
pydantic-settings = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
